body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* CSS Reset for Margins and Padding */
    scroll-behavior: smooth;
}
/* Title Card Section Styling */
#title_card {
    height: 100vh;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  #title_card h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  #title_card p {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .cta-button {
    margin-top: 0px;
    color: white;
    background-color: #d73007;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  .cta-button:hover {
    background-color: #000;
  }

/* Navbar Styling */
.navbar {
    width: 100%;
    background-color: #555;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar .name {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin-right: auto;
  }

/* Navbar Anchor Links */
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
    padding: 4px 6px;
    transition: background-color 0.3s;
    border-radius: 4px;
  }
.navbar a:last-of-type {
    margin-right: 2rem; /* Adjust this value to move it to the left or right */
}

/* Hover effect for links */
.navbar a:hover {
    background-color: #000;
  }

/* Active link */
.navbar a.active {
    background-color: #d73007;
  }

/* Mobile Screen Size Query */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
}